* {
    box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
    font-family: Arial;
    padding: 10px;
    height: 100vh;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.input-group {
    column-gap: 8px;
}

a.btn,
a.btn-outline-primary {
    color: #055297;
}

a.btn {
    font-weight: 600;
}

a.btn:hover {
    color: #1d833d;
}

a.btn-outline-primary {
    font-weight: 400;
    border: none;
}

a.btn-outline-primary:hover {
    background-color: #055297;
    color: snow;
}

.form-group {
    margin-top: 1.25rem;
    margin-left: 1.25rem;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

.button {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: #005493;
}

.container {
    padding: 64px;
}

.small-container {
    padding: 16px;
}

.rightalign {
    float: right;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* 2/3 column */
.column-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;
}

/* 1/3 column */
.column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    display: inline-block;
    border: none;
    background-color: #ecf0f1;
    border-radius: 5px !important;
}

input[type="text"]:focus,
input[type="password"]:focus {
    background-color: snow;
    outline: none;
}

.red {
    color: red;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    text-wrap: nowrap;
    width: fit-content;
    font-size: 14px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #055297;
}

ol.breadcrumb {
    background: none;
}

/* Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens */
@media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
        width: 100%;
        text-align: center;
    }
}
